body{
	background-color: #C2FFA2;
	background: url('../Imagenes/fondo.jpg');
	text-align: center;
}

.contenido {
	margin:0px auto;
    position:relative;
    padding:10px;
    width: 1020px;
    height: 620px;
    border-radius:25px;
    box-shadow: 0 2px 5px #666666;
}

.inicio {
	width:100%;
    height: 100%;
    background-color: transparent;
}

canvas{
	background:url('../Imagenes/pista.jpg');
	border: 4px solid;
	border-color: Red;
	border-radius: 3px;
	width: 1000px;
	height: 600px;
	box-shadow: 0 2px 5px #666666;
}

h5{
	color: Red;
	font-size: 60px;
	font-family: Colonna MT;
}

.imagen{
	display:none;
}